/* 메뉴바 기본 스타일 */
.navbar {
  background-color: #FFF9FB;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #6B4F3B;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  font-weight: 700; /* 이름 굵게 */
}

.nav-links li {
  font-size: 14px;
}

.nav-links a {
  color: #584245;
  text-decoration: none;
}

.nav-links a:hover {
  color: #9C6B4F;
}

/* 로그인/회원가입 버튼 */
.user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 30px;
  /* 부모 요소의 너비가 좁아져도 줄바꿈되지 않도록 설정 */
  flex-wrap: nowrap;
}

.login-btn,.logout-btn {
  background-color: #F2778C;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  /* 버튼 내부 텍스트가 줄바꿈되지 않도록 설정 */
  white-space: nowrap;
  border: none;       /* ← 테두리 제거 */
  outline: none;
}

.login-btn:hover,
.signup-btn:hover,
.logout-btn:hover {
  background-color: #ff4564;
}

/* 로그인 상태에서 버튼 스타일 */
.user-actions, .user-name {
  font-weight: 700; /* 이름 굵게 */
  font-size: 14px;
  color: #6B4F3B;
  text-decoration: none;
  /* loginName님 텍스트가 줄바꿈되지 않도록 설정 */
  white-space: nowrap;
}


/* 관리자 메뉴 항목 스타일 */
.nav-links li.admin-menu-item {
  font-weight: 700;
  position: relative; /* 서브메뉴를 위한 기준점 */
}

.nav-links li.admin-menu-item .submenu {
  display: none; /* 기본적으로 서브메뉴 숨김 */
  position: absolute;
  top: 100%; /* 부모 요소 아래에 위치 */
  left: 0;
  background-color: #f3eef0;
  border: 1px solid #ff6c85;
  list-style: none;
  padding: 10px;
  min-width: 150px;
  z-index: 10;
}

/* 관리자 메뉴에 마우스를 올렸을 때 서브메뉴 표시 */
.nav-links li.admin-menu-item:hover .submenu {
  display: block;
}

.nav-links li.admin-menu-item .submenu li {
  margin-bottom: 5px;
}

.nav-links li.admin-menu-item .submenu a {
  color: #6B4F3B;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.nav-links li.admin-menu-item .submenu a:hover {
  background-color: #ffa7b6;
  color: #ffffff;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  gap: 6px; /* 아이콘과 글자 사이 간격 */
}

.icon-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
